/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 4, 2015, 9:55:50 PM
    Author     : craigsmith
*/

.navbar-brand {
    padding: 0 15px 0 0;
}

video {
    max-width: 100%;
    height: auto;
}

iframe,
embed,
object {
    max-width: 100%;
}


.resp-video-wrapper {
    padding: 2%;
    background: #d1eed1;
    margin-bottom: 2em;
}

.input-captcha {
    padding:0;
    margin:0;
}

.input-captcha #captcha {
    height: 32px;
}